<div class="row align-items-center py-4">
    <div class="col-md-4">
<img class="w-100" [src]="productDetails?.imageCover" alt="">
    </div>
    <div class="col-md-8">
        <h2 class="h4 fw-bolder mb-2">{{productDetails?.title}}</h2>
        <p class="yext-muted p-3">{{productDetails?.description|seeMore:20}}</p>
        <div class="d-flex align-items-center justify-content-between">
            <span class="text-muted fw-bold font-sm">{{ productDetails?.price }} EGP</span>
            <div>
            <i class="fas fa-star rating-color"></i>
            <span class="text-muted fw-bold font-sm">{{
                productDetails?.ratingsAverage
            }}</span>
            </div>
        </div>
        <button class="btn bg-main text-white w-100 my-2">+ add</button>
    </div>
</div>