<div class="row">
    <div>
    <input [(ngModel)]="searchTerm" type="text" placeholder="search" class="form-control w-75 mx-auto my-4">
  
    </div>
    <div class="col-md-2" *ngFor="let product of products">
      <div class="product px-2 py-4">
        <a [routerLink]="['/productdetails',product._id]">
          <img class="w-100" src="{{ product.imageCover }}" alt="" />
          <span class="text-main fw-bold font-sm">{{ product.category.name|test}}</span>
          <h3 class="h6 fw-bolder">
              {{ product.title.split(" ").slice(0, 2).join(" ") }}
          </h3>
          <div class="d-flex align-items-center justify-content-between">
              <span class="text-muted fw-bold font-sm">{{ product.price|currency:'EGP' }}</span>
              <div>
              <i class="fas fa-star rating-color"></i>
              <span class="text-muted fw-bold font-sm">{{
                  product.ratingsAverage
              }}</span>
              </div>
          </div>
         </a>
         <button (click)="calladdtocart(product._id)" class="btn bg-main text-white w-100 my-2">+ add</button>

      </div>
    </div>
  </div>
